.prices {
  color: #ff1a1a;
}

.fare, .fare-head, .fare-footer {
  border-radius: 5px;
}

.fare-head, .fare-footer, .order-link {
  background: white;
  color: #ff1a1a;
  padding: 20px 0;
  text-decoration: none;
}

.fare {
  background: white;
  margin: auto;
}

.fare-head {
}

.fare .fare-price {
  font-weight: normal;
}

.fare-features-item {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
  font-style: bold;
}

.text-medium,
.text-lead {
  color: black;
}
