.prices {
  color: #1f3d7a;
}

.fare-head, .fare-footer, .order-link {
  background: white;
  color: #1f3d7a;
  padding: 20px 0;
  text-decoration: none;
}

.order-link {
  text-decoration: underline;
}

.order-link:hover {
  color: blue;
}

.fare {
  background: white;
  margin: auto;
  border-right: 1px solid #1f3d7a;
}

.fare-head {
}

.fare .fare-price {
  font-weight: normal;
}

.fare-features-item {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
  font-style: bold;
}

.text-medium,
.text-lead {
  color: black;
}
