body {
  font-family: Roboto, Arial, sans-serif;
}

.hacker {
  background: transparent;
  background-image: linear-gradient(rgba(70, 115, 210, 0), rgba(25, 51, 102, 0.3) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;

  padding: 20px;
  height: 350px;
}


.hacker-img {
  width: 100%;
  height: 500px;
}

.description {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.description-header {
  font-size: 1.5em;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #424242;
}

.column-1-3 {
  float: left;
  width: 33.33%;
  margin-bottom: 50px;
}

.description:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 960px) {
  .column-1-3 {
    float: left;
    width: 50%;
  }
  .navigation-list {
    display: none;
  }

}

@media (max-width: 640px) {
  .column-1-3 {
    float: none;
    width: auto;
  }
}

